.Footer {
  background: #469264;
  padding: 50px 0 38px;
}

.Footer ul {
  margin-left: 180px;
}
.Footer .row {
  justify-content: space-between;
}
.Footer ul li {
  margin-bottom: 25px;
}
.Footer ul li a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-family: var(--Manrope);
}
.Footer .footer_socials {
  text-align: right;
  margin-left: 230px;
}

.Footer .footer_socials a {
  margin-left: 30px;
}
.Footer .socials_top {
  margin-top: 50px;
}
.Footer .socials_bottom {
  margin-top: 30px;
}

.footer_bottom {
  margin-top: 20px;
  border-top: 1px solid #ffffff;
  padding-top: 37px;
  text-align: center;
}

.footer_bottom p {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  font-family: var(--Manrope);
}
